.center {
  justify-content: center;
}

.row {
  display: flex;
}

th {
  background-color: darkgray;
}

tr:nth-child(odd) {
  background-color: lightgray;
}

table {
  border:1px solid black;
  border-collapse: collapse;
  width: 100%;
}

th,
td {
border-left: 1px solid black;
border-right: 1px solid black;
height: 1rem;
text-align: start;
}

.seven-col {
  display: flex;
  flex-basis: calc(100%/7);
}
