.center {
  justify-content: center;
  text-align: center;
}

th {
  background-color: darkgray;
}

tr:nth-child(odd) {
  background-color: lightgray;
}

table {
  border: 1px solid black;
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border-left: 1px solid black;
  border-right: 1px solid black;
  height: 1rem;
  text-align: start;
}

.space-between {
  justify-content: space-between;
}

.day-button {
  height: 6rem;
  width: 6rem;
}

button:hover {
  cursor: pointer;
  background-color: darkgray;
}

#add-entry {
  height: 2rem;
  width: 10rem;
  margin-top: 2rem;
  box-shadow: 0.25rem 0.25rem 0.25rem black;
}

#add-entry:hover {
  background-color: aqua;
}

#overlay {
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 75%);
  position: fixed;
  inset: 0;
  align-items: center;
  justify-content: center;
}

.popup {
  background-color: white;
  width: fit-content;
  border-radius: 0.25rem;
  padding: 1rem;
}

.flex-end {
  display: flex;
  justify-content: end;
}

.dropdown,
.description {
  margin-bottom: 1rem;
}
